<div class="jumbotron">
	<h2>Welcome to the Finance Tracker Application!</h2>
	<p class="lead">
		Enjoy our application. Thanks!
	</p>
</div>
<br><br><br>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
