@import 'bootstrap/dist/css/bootstrap';

.navbar {
	background-color: #e6e6e6 !important;
}

h1 {
	color: #002070;
}

.jumbotron {
	background-image: asset-url('image5.jpg');
	text-align: center;
	background-size: cover;
	color: #fff;
	font-family: 'Helvetica Neue' !important;
	font-stretch: expanded;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: 0px;
	margin-right: 0px;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

	h1 {
		font-size: 80px !important;
		.lead {
			font-family: 'Helvetica Neue' !important;
			font-size: 40px !important;
		}
	}
}


.search-area {
	padding-top: 50px;
}

.no-right-padding {
	padding-right: 0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.results-block {
	display: inline-block;
	margin-bottom: 1rem;
}

.logout-button {
	margin-right: 5px;
}

.user-name {
	margin-top: 3.5%;
	padding-right: 5px;
}

